body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.SaleCart{
  position: fixed;
  text-align: left;
  left:0;
  top:0;
  font-size:20px;
  width:25vw;
  background-color: black;
}
.shop{
  position: fixed;
  right: 15vw;
  top: 0;
}